<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.vdab.project.meetingroomreservations" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="be.vdab.project.meetingroomreservations.Activity.LoadingActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.vdab.project.meetingroomreservations.Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="be.vdab.project.meetingroomreservations.Activity.ReservationsActivity"
            android:label="@string/ReservationTitle"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="be.vdab.project.meetingroomreservations.Activity.MeetingRoomsActivity"
            android:label="@string/MeetingRoomsTitle"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="be.vdab.project.meetingroomreservations.Activity.AddReservationActivity"
            android:label="@string/AddReservationTitle"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="be.vdab.project.meetingroomreservations.Activity.ReservationDetailActivity"
            android:label="@string/ReservationDetailTitle"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="be.vdab.project.meetingroomreservations.Activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="be.vdab.project.meetingroomreservations.Activity.ReservationsForDayActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <provider
            android:name="be.vdab.project.meetingroomreservations.db.ReservationsContentProvider"
            android:authorities="be.vdab.project.meetingroomreservations.ReservationsContentProvider" >
        </provider>

        <receiver android:name="be.vdab.project.meetingroomreservations.Service.RefreshReceiver" >
            <intent-filter>
                <action android:name="REFRESH_DATA" />
            </intent-filter>
        </receiver>

        <service android:name="be.vdab.project.meetingroomreservations.Service.DataRefreshService" />


    </application>

</manifest>
